################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/javalab/CopilotIndices/17.13.433.20974
/.vs/javalab/FileContentIndex
/.vs/javalab/v17
/.vs/javalab/config/applicationhost.config
/.vs
